{% extends "partial/base.html" %}
{% load static %}
{% block title %}Ionots|Home{% endblock title %}
{% block content %}
<div class="d-flex mt-4 justify-content-end mx-4">
    {% if request.user.is_authenticated %}
        <a href="{% url "LogOutView" %}"><button class="btn btn-warning">Log out</button></a>
    {% else %}
        <a href="{% url "RegisterView" %}"><button class="btn btn-warning mx-4 ">Register</button></a>
        <a href="{% url "Loginview" %}"><button class="btn btn-warning">Log in</button></a>
    {% endif %}
</div>
<div class="container mt-5">
    <h1>Welcome, {{request.user.full_name}}</h1>  
    <p>Your progress and projects at a glance.</p>
    <hr>

    <h3>Your Projects</h3>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Project Title</th>
                <th>Description</th>
                <th>Status</th>
                <th>Deadline</th>
                <th>Action</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
                <tr>
                    <td>{{project.title}}</td>
                    <td>{{ project.description|slice:":20" }}</td>
                    <td>{{project.status}}</td>
                    <td>{{project.deadline}}</td>
                    <td><a href="{% url "ProjectDetail" project.id %}" class="btn btn-primary btn-sm">View Project</a></td>
                    <td>{{project.total_score}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
