{% extends "partial/base.html" %}
{% load static %}
{% block title %}Ionots|Home{% endblock title %}
{% block content %}
<div class="d-flex mt-4 justify-content-end mx-4">
    {% if request.user.is_authenticated %}
        <a href="{% url "LogOutView" %}"><button class="btn btn-warning">Log out</button></a>
    {% else %}
        <a href="{% url "RegisterView" %}"><button class="btn btn-warning mx-4 ">Register</button></a>
        <a href="{% url "Loginview" %}"><button class="btn btn-warning">Log in</button></a>
    {% endif %}
</div>
<div class="container mt-5">
    <h1>Welcome, {{request.user.full_name}}</h1>  
    <p>Your progress and projects at a glance.</p>
    <hr>

    <h3>Your Projects</h3>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Project Title</th>
                <th>Description</th>
                <th>Status</th>
                <th>Progress</th>
                <th>Action</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Data Cleaning Project</td>
                <td>Clean and preprocess a dataset using Python.</td>
                <td>In Progress</td>
                <td>40%</td>
                <td><a href="/view-project/1/" class="btn btn-primary btn-sm">View Project</a></td>
                <td>40%</td>

            </tr>
            <tr>
                <td>Data Visualization</td>
                <td>Create a dashboard to visualize key metrics.</td>
                <td>Not Started</td>
                <td>0%</td>
                <td><a href="/view-project/2/" class="btn btn-primary btn-sm">View Project</a></td>
                <td>40%</td>

            </tr>
            <tr>
                <td>Machine Learning Model</td>
                <td>Build and evaluate a predictive model.</td>
                <td>Completed</td>
                <td>95%</td>
                <td><a href="/view-project/3/" class="btn btn-primary btn-sm">View Project</a></td>
                <td>40%</td>

            </tr>
        </tbody>
    </table>
</div>
{% endblock content %}
